body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.left-section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-top: 10px;
}

.submit-btn {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.right-section img {
  max-width: 300px;
  border-radius: 50%;
}

.apresentacaoLogin__retangulo__telaLogin__registro {
    margin-top: 7px;
}

.apresentacaoLogin__retangulo__telaLogin__registro a {
    text-decoration: none;
    color: #000000
}

select {
    margin-top: 7px;
}

h1 {
    color: #000000;
    font-size: 200px;
    font-weight: bold;
    font-family: "Acme", Helvetica;
}