<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/homepage/style.css}" />
    <title>Homepage</title>
</head>
<body>
<div class="homepage">
    <div class="div">
        <div class="overlap">
            <img class="image-removebg" th:src="@{/img/arnold-foto.png}" alt="removebg" />
        </div>
        <p class="SUPLEMENTOS-QUE">
            "SUPLEMENTOS QUE POTENCIALIZAM SEUS RESULTADOS. SUA SAÚDE EM PRIMEIRO LUGAR!"
        </p>
        <!-- Botão redirecionando para a página do gráfico -->
        <div class="frame">
            <a class="text-wrapper" th:href="@{/grafico/genero}">Visualizar Gráfico</a>
        </div>
        <div class="frame-2">
            <img class="line" th:src="@{/img/line-10.svg}" alt="line" />
            <div class="frame-3"></div>
            <img class="line" th:src="@{/img/line-10.svg}" alt="line" />
            <div class="frame-3"></div>
        </div>
        <div class="overlap-group">
            <div class="text-wrapper-4">SAIBA MAIS...</div>
        </div>
        <div class="text-wrapper-5">Novos Produtos</div>
        <div class="text-wrapper-6">Mais Vendidos</div>
        <div class="text-wrapper-7">Ver mais...</div>
        <div class="text-wrapper-8">Ver mais...</div>
        <div class="overlap-2">
            <div class="frame-4">
                <img class="img-2" th:src="@{/img/zw_powermax.png}" alt="product1" />
            </div>
            <div class="img-wrapper">
                <img class="img-2" th:src="@{/img/zw_nitroforce.png}" alt="product2" />
            </div>
            <div class="frame-5">
                <img class="img-2" th:src="@{/img/zw_ultragain.png}" alt="product3" />
            </div>
            <div class="frame-6">
                <img class="img-2" th:src="@{/img/zw_hypermass.png}" alt="product4" />
            </div>
        </div>
        <div class="text-wrapper-9">ZW PowerMax</div>
        <div class="text-wrapper-10">ZW NitroForce</div>
        <div class="text-wrapper-11">ZW UltraGain</div>
        <div class="text-wrapper-12">ZW HyperMass</div>
        <div class="div-wrapper">
            <div class="text-wrapper-13">$120</div>
        </div>
        <div class="frame-7">
            <div class="text-wrapper-13">$130</div>
        </div>
        <div class="frame-8">
            <div class="text-wrapper-13">$240</div>
        </div>
        <div class="text-wrapper-14">$180</div>
        <div class="overlap-3">
            <div class="frame-4">
                <div class="overlap-group-2">
                    <img class="designer" th:src="@{/img/zw_crazyclown.png}" alt="designer1" />
                </div>
            </div>
            <div class="img-wrapper">
                <img class="img-2" th:src="@{/img/zw_titanfuel.png}" alt="designer3" />
            </div>
            <div class="frame-5">
                <img class="img-2" th:src="@{/img/zw_problulk.png}" alt="designer4" />
            </div>
            <div class="frame-6">
                <img class="img-2" th:src="@{/img/zw_megagrow.png}" alt="designer5" />
            </div>
        </div>
        <div class="text-wrapper-15">ZW CrazyClow</div>
        <div class="text-wrapper-16">ZW TitanStrength</div>
        <div class="text-wrapper-17">ZW ProBulk</div>
        <div class="text-wrapper-18">ZW MegaGrow</div>
        <div class="text-wrapper-19">$212</div>
        <div class="frame-9">
            <div class="text-wrapper-13">$210</div>
        </div>
        <div class="text-wrapper-20">$145</div>
        <div class="text-wrapper-21">$80</div>
        <div class="frame-10">
            <div class="frame-11">
                <div class="HELP-MENU">COMPANY</div>
                <p class="about-features-works">
                    Sobre<br />
                    Características<br />
                    Funcionários<br />
                    Carreira
                </p>
            </div>
            <div class="frame-11">
                <div class="HELP-MENU">HELP</div>
                <p class="about-features-works">
                    Suporte ao Cliente<br />
                    Detalhes da entrega<br />
                    Termos e Condições<br />
                    Política de Privacidade
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>